@{
    ViewData[ "Title" ] = "Apocalypse";
}

<h1>@ViewData[ "Title" ]</h1>
<p>Final countdown : <span id="countdown"></span></p>

@{
    DateTime apocalypseDate = new DateTime( 2017, 1, 1 );
    DateTime jsEpoch = new DateTime( 1970, 1, 1 );
    long jsApocalypseDate = ( long )( ( apocalypseDate - jsEpoch ).TotalMilliseconds );
}

@section Scripts {
    <script language="javascript">
        (function () {
            var el = document.getElementById('countdown'),
                cd = new ITI.PrimarySchool.Countdown(el);

            cd.start(@jsApocalypseDate);
        })();
    </script>
}