<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData[ "Title" ] - Primary school</title>
    <script language="javascript" src="~/assets/bundle.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection( "Scripts" )
</body>
</html>
