<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData[ "Title" ] - Primary school</title>
    <script language="javascript" src="~/assets/bundle.js"></script>
</head>
<body>
    <div>
        <div>
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Apocalypse" asp-action="Index">Apocalypse</a></li>
                <li><a asp-controller="Account" asp-action="Register">Register</a></li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    @RenderSection( "Scripts", false )
</body>
</html>
