<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData[ "Title" ] - Primary school</title>

    @Html.Partial( "_AppStyles" )
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
