@using System.Security.Claims
@using ITI.PrimarySchool.WebApp.Models

@if( Context.User.Identity.IsAuthenticated )
{
    <form asp-controller="Account" asp-action="LogOff" method="post">
        <ul>
            <li>Hi @User.Identity.Name !</li>
            <li><button type="submit">Log off</button></li>
        </ul>
    </form>
}
else
{
    <ul>
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
