@using ITI.PrimarySchool.WebApp.Models.AccountViewModels
@using Mvc.Client.Extensions

@model LoginViewModel

@{
    ViewData[ "Title" ] = "Log in";
}

<h1>@ViewData[ "Title" ]</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <button type="submit">Log in</button>
    <p><a asp-action="Register">Register as a new user?</a></p>
</form>

@foreach( var description in Context.GetExternalProviders() )
{
    <form asp-controller="Account" asp-action="SignIn" method="post">
        <input type="hidden" name="Provider" value="@description.AuthenticationScheme" />

        <button class="btn btn-lg btn-success" type="submit">Connect using @description.DisplayName</button>
    </form>
}