@{
    string location = string.Format( "{0}://{1}/", Context.Request.Scheme, Context.Request.Host );
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Signed out</title>
</head>
<body>
    <script>
        (function () {
            var origin = window.opener || window.parent;
            var isPopup = origin == window.opener;

            origin.postMessage(JSON.stringify(
            {
                type: 'signedOut'
            }), '@location');

            if (isPopup) window.close();
        })();
    </script>
</body>
</html>