@using ITI.PrimarySchool.WebApp.Services;

@{ 
    Token token = ( Token )ViewData[ "Token" ];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SPA</title>
</head>
<body>
    <div id="app"></div>

    <script language="javascript">
        (function () {
            this.ITI = this.ITI || {};
            this.ITI.PrimarySchool = this.ITI.PrimarySchool || {};
            this.ITI.PrimarySchool.bearer = {
                access_token: '@token.AccessToken',
                expires_in: @token.ExpiresIn
            };
        })();
    </script>

    <environment names="Development">
        <script type="text/javascript" src="http://localhost:8080/dist/primary-school.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script type="text/javascript" src="~/dist/primary-school.js"></script>
    </environment>
</body>
</html>